<ion-content>
  <div class="header">
    <div class="header-between">
      <div (click)="back()" class="btn ion-activatable ripple-parent">
        <ion-icon name="arrow-back">

        </ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="title">
        Paket Saya
      </div>
      <div class="block-center">
      </div>
    </div>
  </div>
  <div class="container-block">
    <div *ngIf="paket" (click)="openModal(paket.id, 'packet')" class="paket-item ion-activatable ripple-parent">
      <div class="title">
        {{ paket.transaction.packet.name }}
      </div>
      <div class="paket-between">
        <div class="subtitle">
          Aktif sampai {{ paket.active_period }}
        </div>
        <div class="kuota">
          <div class="current">
            {{ paket.current_quota ? (paket.current_quota/1000)+' GB' : '0 GB' }}
          </div>
          <div class="slash">
            /
          </div>
          <div class="left">
            {{ paket.initial_quota ? (paket.initial_quota/1000)+' GB' : '0 GB' }}
          </div>
        </div>
      </div>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div *ngFor="let item of topping" (click)="openModal(item.id, 'topping')" class="paket-item ion-activatable ripple-parent">
      <div class="title">
        {{ item.transaction.topping.name }}
      </div>
      <div class="paket-between">
        <div class="subtitle">
          Aktif sampai {{ item.active_period }}
        </div>
        <div class="kuota">
          <div class="current">
            {{ item.current_quota ? (item.current_quota/1000)+' GB' : '0 GB' }}
          </div>
          <div class="slash">
            /
          </div>
          <div class="left">
            {{ item.initial_quota ? (item.initial_quota/1000)+' GB' : '0 GB' }}
          </div>
        </div>
      </div>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
</ion-content>