<ion-content>
  <div class="header">
    <div class="header-between">
      <div (click)="back()" class="btn ion-activatable ripple-parent">
        <ion-icon name="arrow-back">

        </ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div class="title">
        Paket Saya
      </div>
      <div class="block-center">
      </div>
    </div>
  </div>
  <div class="container-block">
    <div class="paket-item ion-activatable ripple-parent">
      <div class="title">
        Paket internet lokal Extra
      </div>
      <div class="paket-between">
        <div class="subtitle">
          Aktif sampai 23 Juli 2021
        </div>
        <div class="kuota">
          <div class="current">
            8 GB
          </div>
          <div class="slash">
            /
          </div>
          <div class="left">
             10GB
          </div>
        </div>
      </div>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="paket-item ion-activatable ripple-parent">
      <div class="title">
        Paket internet lokal Extra
      </div>
      <div class="paket-between">
        <div class="subtitle">
          Aktif sampai 23 Juli 2021
        </div>
        <div class="kuota">
          <div class="current">
            8 GB
          </div>
          <div class="slash">
            /
          </div>
          <div class="left">
             10GB
          </div>
        </div>
      </div>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div class="paket-item ion-activatable ripple-parent">
      <div class="title">
        Paket internet lokal Extra
      </div>
      <div class="paket-between">
        <div class="subtitle">
          Aktif sampai 23 Juli 2021
        </div>
        <div class="kuota">
          <div class="current">
            8 GB
          </div>
          <div class="slash">
            /
          </div>
          <div class="left">
             10GB
          </div>
        </div>
      </div>
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
</ion-content>