<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="header">
    <div class="title">
      Daftar Paket
    </div>
  </div>
  <div class="block">
    <div *ngFor="let item of paket" class="paket">
      <div class="paket-header">
        <div class="title">{{ item.name }}</div>
      </div>

      <div class="container-paket">
        <div *ngFor="let p of item.packets" (click)="goToDetailPage(p.id)"
          class="paket-item">
          <div class="paket-content ion-activatable ripple-parent">
            <div class="item-padding">
              <div class="title">
                {{ p.name }}
              </div>
              <div class="subtitle">
                {{ p.description }}
              </div>
              <div class="content-total">
                <ion-label color="primary">
                  {{ p.price ? 'Rp.' + p.price : 'Gratis' }}
                </ion-label>
              </div>

            </div>
            <div class="button-bottom">

              <ion-button (click)="goToDetailPage(p.id)" shape="round" expand="full" class="btn" color="primary">
                Beli
              </ion-button>
            </div>
            <ion-ripple-effect></ion-ripple-effect>
          </div>

        </div>
      </div>
    </div>

  </div>
</ion-content>