<ion-content>
  <div class="header">
    <div class="header-between">
      <div class="block-center">
      </div>
      <div class="title">
        ByFast NET
      </div>
      <div class="block-center">
      </div>
    </div>
  </div>
  <div class="block">
    <div class="card">
      <div class="card-content">
        <div class="title">
          Register
        </div>
        <div class="content-menu">
          <ion-item>
            <ion-label position="floating">Nama Lengkap</ion-label>
            <ion-input name="nama" [(ngModel)]="nama"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">No Hp</ion-label>
            <ion-input name="no_telpon" [(ngModel)]="no_telpon"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input name="email" [(ngModel)]="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Verifikasi Password</ion-label>
            <ion-input type="password" name="verif_password" [(ngModel)]="verif_password"></ion-input>
          </ion-item>

          <div class="btn">
            <ion-button [disabled]="loading" (click)="register()" expand="full">
              Register
            </ion-button>
          </div>

          <div class="reg">
            <div class="title">
              Sudah punya akun ? <a (click)="gotologin()"> Login </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>